<!-- 
		Credits
		
		Google Web Fonts: Roboto, Noto Serif TC
	-->
	
	<header class="header">
		<div class="logo">
			<a href="#">Blog</a>
		</div>
		
		<!-- Elements for mobile screen navigation -->
		<a href="#menu" class="mobile-menu__opener" id="mobile-menu__opener" role="button" tabindex="0"><span>Menu</span></a>
		<div class="mobile-menu__screen"></div>
		
		<!-- Main menu -->
		<nav id="menu" class="menu">
			<a href="#" class="menu__item">Archive</a>
			<a href="#" class="menu__item">Projects</a>
			<a href="#" class="menu__item">About me</a>
			<a href="#" class="menu__item menu__item_active">Contact</a>
		</nav>
	</header>